// colors
$beige-light: #edece4;
$beige-medium: #cbc6b9;
$beige-dark: #988c77;
$gray: #2a2426;
$green: #988c77;

// Typography
$type-1: 'PT Mono', monospace;
$type-2: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin type-1($size) {
  font-family: $type-1;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin type-2($size) {
  font-family: $type-2;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
  @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}
