.contact {
  margin-top: 60px;
  margin-bottom: 60px;

  @include break('small') {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

  .contact__info {
    display: block;
    color: $beige-dark;
    margin-bottom: 3em;
    margin-top: 2em;

    @include break('wide') {
      float: right;
      text-align: right;
      margin-top: -3em;
    }

    p::after {
      content: " ////"
    }
  }

  .contact__map {
    display: block;
    clear: both;
    width: 100%;
  }
