.intro {
  margin-top: 60px;
  @include d(s) {
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
}

.intro-info {
  border-right: 2px solid $gray;
  max-width: 320px;

  p {
    padding-top: 10px;
  }

  p:first-child {
    border-bottom: 2px solid $gray;
    padding-bottom: 10px;
  }

  @include d(m) {
    font-size: em(14);
  }
}

.intro-phone {
  color: $beige-dark;
  @include d(m) {
    font-size: em(16);
  }
  @include d(s) {
    margin-bottom: 40px;
  }

  &::after {
    content: "/ / / /";
    display: block;
    margin-top: 200px;
    font-size: 220px;
    letter-spacing: -90px;
    color: $gray;

    @include d(m) {
      margin-top: 80px;
      font-size: 150px;
      letter-spacing: -70px;
    }

    @include d(s) {
      display: none;
    }
  }
}

.open {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $green;
  margin-left: 30px;

  @include d(m) {
    margin-left: 1em;
  }
}

.intro-photo {
  border: 10px solid $beige-medium;
  width: 100%;
}
