//------------
//-- Colors --
//------------
$beige-light: #edece4;
$beige-medium: #cbc6b9;
$beige-dark: #988c77;
$gray: #2a2426;
$green: #1ab912;


//----------------
//-- Typography --
//----------------
$type-1: 'PT Mono', monospace;
$type-2: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin type-1($size) {
  font-family: $type-1;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin type-2($size) {
  font-family: $type-2;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}


//------------
//-- Layout --
//------------
$cols: 12;
$gutter: 20px;

// The layout is Mobile for default
$break-medium: 480px; // For tablets and small resolution screens on computers
$break-large: 760px; // For most of computers screens
$break-x-large: 1200px; // For high resolution screens

// Breakpoints
@mixin break($size) {
  @if $size == 'medium' {
    @media screen and (min-width: #{$break-medium + 1}) {
      @content;
    }
  } @else if $size == 'large' {
    @media screen and (min-width: #{$break-large}) {
      @content;
    }
  } @else if $size == 'x-large' {
    @media screen and (min-width: #{$break-x-large}) {
      @content;
    }
  } @else {
    @media screen and (min-width: #{$size}) {
      @content;
    }
  }
}

@function grid-size($col, $offset: false) {
  $width: $col / $cols * 100 + '%';
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

@mixin clearfix {
  &::after,
  &::before {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin container {
  @include clearfix;
  max-width: $break-medium;
  padding-left: 10px;
  padding-right: 10px;

  @include break('medium') {
    margin: 0 auto;
    max-width: $break-large;
    position: relative;
  }

  @include break('x-large') {
    max-width: $break-x-large;
  }
}

@mixin row {
  @include clearfix;
  position: relative;

  @include break('medium') {
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
  }
}
